@charset "UTF-8";
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #222;
  font-family: Helvetica, Arial, “hiragino kaku gothic pro”, meiryo, ”ms pgothic”, "Noto Serif JP", serif, sans-serif, "YuGothic", "Yu Gothic";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}

body.m_fixed_sns {
  padding-bottom: 75px;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type=submit], input[type=button], label, button, select {
  cursor: pointer;
}

input, button, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
}

.pass-hint-content {
  text-align: center;
  color: #7b7b7b;
}

.pass-hint {
  text-align: center;
  color: #7b7b7b;
  margin-top: 10px;
}

.pass-hint-box {
  display: none;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

.sns-content {
  max-width: 550px;
  margin: 0 auto;
}

.sns-prof {
  display: block;
  margin: 0 auto;
  padding: 18px;
}
@media (min-width: 1280px) {
  .sns-prof {
    padding: 22px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .sns-prof {
    padding: 22px;
  }
}

.sns-prof-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.sns-prof-img-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sns-prof-icon {
  width: 25%;
}
.sns-prof-icon img {
  width: 100%;
  border-radius: 50%;
}

.sns-prof-follower {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 0.9375rem;
}

@media (max-width: 767px) {
  .sns-prof-follower_h {
    width: 67%;
  }
}

.sns-prof-name {
  font-weight: bold;
  font-size: 1.0625rem;
  margin-bottom: 5px;
}

.sns-prof-name-kana {
  font-family: Helvetica, Arial, “hiragino kaku gothic pro”, meiryo, ”ms pgothic”, "Noto Serif JP", serif, sans-serif, "YuGothic", "Yu Gothic";
  font-weight: bold;
  font-size: 1.0625rem;
  margin-bottom: 5px;
}

.sns-prof-text {
  font-size: 0.875rem;
}

.sns-post-prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.sns-post-prof-name {
  font-weight: bold;
}

.sns-post-prof-icon {
  width: 50px;
  height: 50px;
}
.sns-post-prof-icon img {
  width: 100%;
  border-radius: 50%;
}

.sns-post-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sns-post-symbol-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.375rem;
  gap: 15px;
}

.sns-post-date {
  font-size: 0.8125rem;
}

.sns-post-content {
  display: block;
  margin: 0 auto;
  padding: 15px;
}

.sns-post-textbox {
  font-size: 0.875rem;
  margin: 10px 0;
}

.sns-post-comment-content {
  margin-top: 5px;
}

.sns-post-text-comments {
  color: #5b5b5b;
}

.sns-post-text-comment {
  margin-top: 5px;
}

.sns-friend {
  margin: 10px auto;
  font-size: 1.375rem;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
}

.sns-follower-content {
  margin: 10px auto 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1280px) {
  .sns-follower-content {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .sns-follower-content {
    width: 60%;
  }
}

.sns-follower {
  margin: 10px auto 0;
  text-align: center;
}

.sns-follower-prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.sns-follower-name {
  font-weight: bold;
}

.sns-follower-icon {
  width: 50px;
  height: 50px;
}
.sns-follower-icon img {
  width: 100%;
  border-radius: 50%;
}

.span-bold {
  font-weight: bold;
}

.span-comment {
  color: #3656a2;
}

.span-key {
  margin-right: 3px;
}

.span-space-left {
  margin-left: 5px;
}

@media (min-width: 1280px) {
  .sp-br {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .sp-br {
    display: none;
  }
}

.login-content {
  max-width: 900px;
  margin: 30px auto;
}

.karekun-sns {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.password-form {
  padding: 10px 20px;
}

.contact-section {
  background: #f3f6f8;
  padding: 60px 50px;
}
@media (max-width: 767px) {
  .contact-section {
    padding: 45px 20px;
  }
}

input[type=text] {
  width: 96%;
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  margin-left: 40px;
  border: 1px solid #ababab;
  margin-top: 10px;
}
@media (max-width: 767px) {
  input[type=text] {
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  input[type=text] {
    width: 87%;
  }
}
input[type=text]:focus {
  border: 1px solid #eee;
  outline: 0;
}

.contact__form__inner {
  background: #fff;
  padding: 60px 120px;
  border-radius: 0 0 12px 12px;
}
@media (max-width: 767px) {
  .contact__form__inner {
    padding: 34px 12px 41px;
  }
}

@media (min-width: 1280px) {
  .contact-form__row,
  .contact-form__radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .contact-form__name {
    margin-top: 23.4px;
  }
}
@media (min-width: 1280px) {
  .contact-form__name {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .contact-form__row__ruby {
    margin-top: 28px;
  }
}
@media (min-width: 1280px) {
  .contact-form__row__ruby {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .contact-form__row__mail {
    margin-top: 27.2px;
  }
}
@media (min-width: 1280px) {
  .contact-form__row__mail {
    margin-top: 31px;
  }
}

.contact-form__kind {
  width: 178px;
}
.contact-form__kind select {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 9px 35px 9px 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
  border: 1px solid #ababab;
  font-size: 16px;
  color: inherit;
  font-family: inherit;
  width: 100%;
  margin-left: 48px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
}
.contact-form__kind select:focus {
  border: 1px solid #eee;
  outline: 0;
}
@media (max-width: 767px) {
  .contact-form__kind select {
    margin: 9px 9px 5px 0;
    padding: 10px 35px 10px 12px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .contact-form__kind {
    width: 100%;
  }
}

.contact-form__label,
.contact-form-label {
  width: 160px;
  margin: 0;
}

.contact-form__input [type=text] {
  font-family: inherit;
}
.contact-form__input [type=text]:hover {
  outline: none;
}
@media (min-width: 1280px) {
  .contact-form__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 532px;
            flex: 0 0 532px;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767px) {
  .contact-form__input {
    padding: 0;
  }
}

.contact-btn {
  margin-top: 30px;
  text-align: center;
}

.util-link {
  background: #73c1fd;
  color: #fff;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
}
@media (min-width: 1280px) {
  .util-link {
    width: 60%;
  }
}

.sns-content {
  max-width: 650px;
  margin: 0 auto;
}

.sns-prof {
  display: block;
  margin: 0 auto;
  padding: 18px;
}
@media (min-width: 1280px) {
  .sns-prof {
    padding: 22px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .sns-prof {
    padding: 22px;
  }
}

.sns-prof-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.sns-prof-img-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sns-prof-icon {
  width: 25%;
}
.sns-prof-icon img {
  width: 100%;
  border-radius: 50%;
}

.sns-prof-follower {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 0.9375rem;
}

@media (max-width: 767px) {
  .sns-prof-follower_h {
    width: 67%;
  }
}

.urasns-prof-name {
  color: #7b7b7b;
  font-size: 0.8125rem;
  margin-bottom: 1px;
}

.sns-prof-name-kana {
  font-family: Helvetica, Arial, “hiragino kaku gothic pro”, meiryo, ”ms pgothic”, "Noto Serif JP", serif, sans-serif, "YuGothic", "Yu Gothic";
  font-weight: bold;
  font-size: 1.0625rem;
  margin-bottom: 1px;
}

.gray-text {
  color: #536471;
}

.urasns-prof-text {
  font-size: 0.9375rem;
}

.urasns-post-prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 20px;
}

.urasns-post-prof-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.urasns-post-content {
  display: block;
  margin: 0 auto;
  padding: 0 25px;
}

.urasns-post-textbox {
  font-size: 1rem;
  margin: 5px 0;
}

.sns-post-comment-content {
  margin-top: 5px;
}

.urasus-post-img {
  margin: 5px 0;
}

.sns-post-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sns-post-symbol-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  font-size: 1.375rem;
}

.sns-underline {
  width: 100%;
  height: 1px;
  background-color: #d7d7d7; /* Use background-color instead of color */
  margin: 5px 0 9px;
  border: none; /* Ensure there's no border interfering */
}

.l-m2 {
  margin-left: 2px;
}

.l-m4 {
  margin-left: 4px;
}

.l-m8 {
  margin-left: 8px;
}

.span-location {
  margin-right: 4px;
}

.text14 {
  font-size: 0.875rem;
}

.bold {
  font-weight: bold;
}

.text-blue {
  color: #1D9BF0;
}